@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button-loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #aaa; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin: 4px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card-menu-item:hover > div{
    @apply text-primary fill-primary stroke-primary
  }

  .card-menu-item:hover path{
    @apply fill-primary stroke-primary
  }
}
